header{
    background-color: #000000;
}

.navbar{
    border: 0px;
}

.navbar .nav > li > a {
    color: #D4D4D4;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    color: #ffffff;
}

.navbar .nav > li > a:hover {
    color: #ffffff;
    background-color: #000000;
}

.navbar a:hover {
    color: #ffffff;
    background-color: #000000;
}

.navbar-brand{
    color: #ffffff;
}

.navbar-right > li > a:hover{
    color: #ffffff;
    background-color: #000000;
}